*{
    box-sizing: border-box;
}
.border{
    border: solid black
} 
.calculator{
width: 600px;
height: 700px;
padding: 5px;

}
.buttons-container{
    display: flex;
    max-height: 92%;
    height: 100%;
    
}
.buttons-container > div{
    display: flex;
}
.numbers{
    flex: 5;
    flex-wrap: wrap;   
}
.numbers > button{
    min-width: 30%;
    flex:1 0;
}
.operations{
    flex-direction: column;
    flex: 1;
}
.operations > button {
    flex: 1;
}
.display{
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 50px;
}
.operations > button:not(.equal){
    background-color: #dadce0;
}
.numbers > button, .operations > button{
    font-size: large;
}




.numbers > .zero{
    order: 10;
    flex: 2.1;
}
.decimal{
    order: 11;
}
.equal{
    order: 12;
    background-color: #4285f4;
    color: white;
}
.one{
    order:7;
}
.two{
    order: 8;
}
.three{
    order:9;
}
.four{
    order: 4;
}
.five{
    order: 5;
}
.six{
    order:6;
}
.seven{
    order:1;
}
.eight{
    order: 2;
}
.nine{
    order:3;
}
